<ion-menu [content]="content">

  <ion-content class="menu-left">
    <!-- User profile -->
    <div text-left padding class="gray-bg menu-left">
      <a menuClose>

      </a>
    </div>

    <ion-list class="list-full-border">
      <button ion-item menuClose *ngFor="let page of pages" (click)="openPage(page)" >
			<div class="pull-right">
				<span class="title">{{ page.title }}</span>
				<span class="icon"><ion-icon name="{{page.icont}}"></ion-icon></span>
			</div>
        <ion-badge danger item-right *ngIf="page.count">{{ page.count }}</ion-badge>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
