<ion-header>

  <ion-navbar color="white">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>מומלצים</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="activity common-bg">
 <ion-item  *ngFor="let res of attractions" >
        <ion-card  id="card" style="width: 300px !important; height:220 !important;">
                           <ion-item id="card-image" style="margin: 0 !important;">
                            <img src="http://www.eilatnow.com/uploads/pages_pictures_ID38/DSC_0324.jpg" 
                            style="width: 100%; height: 100%;">
                          </ion-item>
                          <h1 class="attr-name" style="color: gray !important;">{{res.name}} </h1>
                        אטרקציה של   {{res.type}} 
                          <br/> ב{{res.area}}
                          <br/> 

                        <div id="rate"> <span color="#F2DA3F" > {{res.engoyrating}} <ion-icon name="ios-star"> :דירוג 
                        </ion-icon></span>
                        </div>  
           </ion-card>
  </ion-item>
 <!--  <div class="card round" *ngFor="let attraction of attractions">
       
         
             <h1>{{attraction.name}} ,<br/> {{attraction.type}} ,<br/> {{attraction.area}}</h1>
             <br/>
           
               <button class="btn" ion-fab small><ion-icon name="ios-star"></ion-icon></button>
 
     </div> -->
</ion-content>
