page-search-results {

}
.first-ion-item{
	text-align: center;
	font-weight: bold !important;
}
.fab-ios{	
	width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}
.btn{
	float: left !important;
}
.nextBtn{
		text-align: right;
}

.attr-name{
font-family: 'Suez One', serif !important;
text-align: center !important;

}
#card{
	text-align: center !important;
	font-family: 'Suez One', serif;


}
#rate{
		text-align: left !important;
		float: left !important;
		display: inline-block !important;

}
#addfav{
	text-align: center !important;

}
#card-image{
height: 60% !important;

}