page-attraction-search {

}
.image{
	width: 400px;
	height:600px;
}

.choice{
	display: inline-block;
	float: left !important;
	text-align: center !important;
}
.header-label{
	text-align: center !important;
}
